<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">CLASS</a> -->

        <a href="/"><h3><img src="images/class.png" style="width: 43px; height: 43px; color: white; float: left; padding-right: 5px; padding-top: 2.5px; padding-bottom: 2.5px" alt="class">CLASS<sup>BETA</sup></h3></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item" aria-current="page" href="/attendance">ATTENDANCE</a>
            <a class="nav-item" href="/timeTable">TIMETABLE</a>
            <a class="nav-item" href="/about">ABOUT</a>
          </div>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="head">
      <h4>Attendance</h4>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
       ['Subject', 'Attendance'],

       <% keyAttendance.forEach(function(ele){ %>
           ["<%= ele.subject %>", <%= ((ele.present/(ele.present+ele.absent))*100).toFixed(2) %>],
       <% }); %>

        ]);

        var options = {
          title: 'Class Attendance',
          // width: 400,
          legend: { position: 'none'},
          // chart: { title: 'Chess opening moves',
          //          subtitle: 'popularity by percentage' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "80%"}
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
    </script>

    <div id="top_x_div" style="width: 90%; height: 45%;text-align: center; align-items: center; display: flex; justify-content: center; margin-left: 5%; margin-right: 5%; margin-bottom: 50px;"></div>

    <% keyAttendance.forEach(function(ele){ %>

  <div class="period">
    <h5><%= ele.subject %></h5>
    <p>Present - <%= ele.present %>/<%= ele.present+ele.absent %></p>
    <p>Percentage - <%= ((ele.present/(ele.present+ele.absent))*100).toFixed(2) %></p>
  </div>

<% }); %>

  </body>
</html>
