<%- include("partials/header") -%>


<div class="head">
  <h4>Attendance</h4>
</div>

<form action="/overallAttendance" class="new-task" method="post">
  <button type="submit" class="add btn btn-outline-primary" name="overall">Overall Attendance</button>
</form>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['bar']
  });
  google.charts.setOnLoadCallback(drawStuff);

  function drawStuff() {
    var data = new google.visualization.arrayToDataTable([
      ['', 'Attendance'],

      <% keyAttendance.forEach(function(ele) { %>
        ["<%= ele.subject %>", <%= ((ele.present / (ele.present + ele.absent)) * 100).toFixed(2) %>],
      <% }); %>

    ]);

    var options = {
      title: 'Class Attendance',
      legend: {
        position: 'none'
      },
      bars: 'horizontal',
      axes: {
        x: {
          0: {
            side: 'top',
            label: 'Percentage'
          }
        }
      },
      bar: {
        groupWidth: "90%"
      }
    };

    var chart = new google.charts.Bar(document.getElementById('top_x_div'));
    chart.draw(data, options);
  };
</script>

<div id="top_x_div" class="attendance"></div>

<% keyAttendance.forEach(function(ele){ %>
<div class="period">
  <h5><%= ele.subject %></h5>
  <p>Present - <%= ele.present %>/<%= ele.present+ele.absent %></p>
  <p>Percentage - <%= ((ele.present/(ele.present+ele.absent))*100).toFixed(2) %></p>
  <p style="font-weight: 700;">Absent on</p>
  <% keyAbsent.forEach(function(abs){ %>
    <% if(ele.subject == abs.subject){ %>
      <p style="font-size: 1.05rem;">• <%= abs.date %>➣ <%= abs.start %>-<%= abs.end %></p>
    <% } %>
  <% }); %>
</div>
<% }); %>



<%- include("partials/footer") -%>
