<%- include("partials/timeTableFix") -%>

<div class="head">
  <h4>Monday</h4>
</div>



<% keyPeriod.forEach(function(ele){ %>

  <div class="period">
    <p><%= ele.subject %></p>
    <p><%= ele.start %> - <%= ele.end %></p>
    <button type="button" class="btn btn-success">Present</button>
    <button type="button" class="btn btn-danger">Absent</button>
  </div>

<% }); %>




<form class="" action="/day" method="post">
  <div class="new-class">
    <button type="submit" class="add btn btn-primary" name="addClass">Add Class</button>
  </div>
</form>






<%- include("partials/footer") -%>
