<%- include("partials/timeTableFix") -%>


<div class="head">
  <h4>Saturday</h4>
</div>

<% keyPeriod.forEach(function(ele){ %>
  <% if(ele.day==day){%>
    <div class="period">
      <h5 style="position: relative; top: 3px;"><%= ele.subject %></h5>
      <p style="font-size: 1.15rem; font-weight: 500; position: relative; bottom: 9px;"><%= ele.start %> - <%= ele.end %></p>
      <form action="/<%= ele.day %>" style="position: relative; bottom: 16px;" method="post">
        <button type="submit" class="btn btn-outline-success" style="font-weight: 600;" name="period" value="p-<%= ele.subject %>-<%= ele.start %>-<%= ele.end %>">Present</button>
        <button type="submit" class="btn btn-outline-danger" style="font-weight: 600; position: relative; left: 5px;" name="period" value="a-<%= ele.subject %>-<%= ele.start %>-<%= ele.end %>">Absent</button>
      </form>
    </div>
<% } }); %>

<div class="new-class">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Select order day
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/saturday">None</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/monday">Monday</a></li>
      <li><a class="dropdown-item" href="/tuesday">Tuesday</a></li>
      <li><a class="dropdown-item" href="/wednesday">Wednesday</a></li>
      <li><a class="dropdown-item" href="/thursday">Thursday</a></li>
      <li><a class="dropdown-item" href="/friday">Friday</a></li>
    </ul>
  </div>
</div>

<div class="delete-add" style="display: flex; justify-content: space-between;">
  <form action="/day1" method="post" style=" float: left;">
    <button type="submit" class="add btn btn-danger" name="deleteClass" value="deleteClass">Delete Class</button>
  </form>
  <form action="/day2" method="post" style="float: right;">
    <button type="submit" class="add btn btn-primary" name="addClass" value="addClass">Add Class</button>
  </form>
</div>


<%- include("partials/footer") -%>
