<%- include("partials/timeTableFix") -%>


<div class="head">
  <h4>Saturday</h4>
</div>

<% keyPeriod.forEach(function(ele){ %>
<div class="period">
  <p><%= ele.subject %></p>
  <p><%= ele.start %> - <%= ele.end %></p>
  <form class="" action="/<%= ele.day %>" method="post">
    <button type="submit" class="btn btn-outline-success" name="period" value="p-<%= ele.subject %>">Present</button>
    <button type="submit" class="btn btn-outline-danger" name="period" value="a-<%= ele.subject %>">Absent</button>
  </form>
</div>
<% }); %>

<div class="new-class">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Select order day
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/saturday">None</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/monday">Monday</a></li>
      <li><a class="dropdown-item" href="/tuesday">Tuesday</a></li>
      <li><a class="dropdown-item" href="/wednesday">Wednesday</a></li>
      <li><a class="dropdown-item" href="/thursday">Thursday</a></li>
      <li><a class="dropdown-item" href="/friday">Friday</a></li>
    </ul>
  </div>
</div>

<form class="" action="/day" method="post">
  <div class="new-class">
    <button type="submit" class="add btn btn-primary" name="addClass">Add Class</button>
  </div>
</form>


<%- include("partials/footer") -%>
