<%- include("partials/header") -%>


<div class="head">
  <h4>Tasks</h4>
</div>

<div id="liveAlertPlaceholder"></div>

<div class="task-title">
  <h5 style="font-size: 1.4rem; font-weight: 700; padding-bottom: 0; padding-top: 5px;">Yet To Completed</h5>
</div>

<% var i=1; %>
<% keyTask.forEach(function(ele){ %>
<!-- <div class="task">
  <div style="float: left; width: 88%; display: flex; margin-top: 8px;">
    <form action="/completeTask" method="post">
      <div style="display: flex; position: relative; top: 2px;">
        <input class="taskInput" type="checkbox" name="checkbox" value="<%= ele.task %>" onchange="this.form.submit()">
        <p style="position: relative; left: 5px;"> <%= ele.task %></p>
      </div>
    </form>
  </div>
  <div style="float: right; padding: 0; display: flex;">

    <form action="/editTask" method="post">
      <button type="submit" class="add alert" id="liveAlertBtnForEdit" style="background-color: transparent; border: none; padding: 0;  box-shadow: none;" name="editTask" value="<%= ele.task %>"><img class="edit" src="images/edit.png" onmouseover="this.src='images/edit-hover.png';" onmouseout="this.src='images/edit.png';"
        style="width: 22px; height: 22px;" alt="edit"></button>
    </form>

    <form action="/deleteTask" method="post">
      <button type="submit" class="add alert" id="liveAlertBtn<%= i %>" style="background-color: transparent; border: none; padding: 0;  box-shadow: none;" name="deleteTask" value="<%= ele.task %>"><img class="delete" src="images/delete.png" onmouseover="this.src='images/delete-hover.png';" onmouseout="this.src='images/delete.png';"
        style="width: 23px; height: 24px;" alt="delete"></button>
    </form>
  </div>
</div> -->

<!-- <div class="task">
  <div style="float: left; width: 88%; display: flex; margin-top: 8px;">
    <form action="/completeTask" method="post">
      <div style="display: flex; position: relative; top: 2px;">
        <input class="taskInput" type="checkbox" name="checkbox" value="<%= ele.task %>" onchange="this.form.submit()">
        <div id="task-container-<%= i %>" style="position: relative; left: 5px;">
          <p id="task-<%= i %>"><%= ele.task %></p>
        </div>
      </div>
    </form>
  </div>
  <div style="float: right; padding: 0; display: flex;">
    <button type="button" class="add alert" style="background-color: transparent; border: none; padding: 0; box-shadow: none;" onclick="enableEdit(<%= i %>)">
      <img class="edit" src="images/edit.png" onmouseover="this.src='images/edit-hover.png';" onmouseout="this.src='images/edit.png';" style="width: 22px; height: 22px;" alt="edit">
    </button>
    <form action="/deleteTask" method="post">
      <button type="submit" class="add alert" id="liveAlertBtn<%= i %>" style="background-color: transparent; border: none; padding: 0; box-shadow: none;" name="deleteTask" value="<%= ele.task %>">
        <img class="delete" src="images/delete.png" onmouseover="this.src='images/delete-hover.png';" onmouseout="this.src='images/delete.png';" style="width: 23px; height: 24px;" alt="delete">
      </button>
    </form>
  </div>
</div> -->

<div class="task" style="display: flex; justify-content: space-between; align-items: center; ">
  <form action="/completeTask" method="post" style="display: flex; align-items: center;  margin-right: 10px; position: relative; bottom: 4px;">
    <input class="taskInput" type="checkbox" name="checkbox" value="<%= ele.task %>" onchange="this.form.submit()" style="">
  </form>
  <div id="task-container-<%= i %>" style="flex: 1;">
    <p id="task-<%= i %>" style="margin: 0;"><%= ele.task %></p>
  </div>
  <div class="task-edits" style="display: flex; align-items: center;">
    <button type="button" class="add alert" style="background-color: transparent; border: none; padding: 0; box-shadow: none;">
      <img class="edit" src="images/drop-down.png" onmouseover="this.src='images/drop-down-hover.png';" onmouseout="this.src='images/drop-down.png';" style="width: 22px; height: 22px;" alt="edit">
    </button>
    <button type="button" class="add alert" style="background-color: transparent; border: none; padding: 0; box-shadow: none;" onclick="enableEdit(<%= i %>)">
      <img class="edit" src="images/pencil.png" onmouseover="this.src='images/pencil-hover.png';" onmouseout="this.src='images/pencil.png';" style="width: 22px; height: 22px;" alt="edit">
    </button>
    <form action="/deleteTask" method="post" style="margin: 0;">
      <button type="submit" class="add alert" id="liveAlertBtn<%= i %>" style="background-color: transparent; border: none; padding: 0; box-shadow: none;" name="deleteTask" value="<%= ele.task %>">
        <img class="delete" src="images/new-delete-1.png" onmouseover="this.src='images/new-delete-1-hover.png';" onmouseout="this.src='images/new-delete-1.png';" style="width: 20px; height: 23px;" alt="delete">
      </button>
    </form>
  </div>
</div>
<script>
  function enableEdit(index) {
    var taskContainer = document.getElementById('task-container-' + index);
    var taskText = document.getElementById('task-' + index).innerText;
    taskContainer.innerHTML = `
      <form action="/editTask" method="post" style="display: flex; align-items: left;">
        <input type="hidden" name="originalTask" value="${taskText}">
        <input class="form-control" type="text" name="editedTask" value="${taskText}" style="flex: 1;">
        <button type="submit" id="liveAlertBtnForEdit" class="add btn btn-primary" style="margin-left: 10px; position: relative; bottom: 3px;">Save</button>
      </form>`;
  }
</script>


<% i++;}); %>

<div class="task-title">
  <h5 style="font-size: 1.4rem; font-weight: 700; padding-bottom: 0; padding-top: 15px;">Completed</h5>
</div>

<% keyCompleteTask.forEach(function(ele){ %>
  <div class="task">
    <div style="float: left; width: 93%; display: flex; margin-top: 8px;">
      <form action="/notCompleteTask" method="post">
        <div style="display: flex; position: relative; top: 2px;">
          <input class="taskInput" type="checkbox" name="checkbox2" value="<%= ele.completeTask %>" onchange="this.form.submit()">
          <p style="position: relative; left: 5px; text-decoration: line-through; text-decoration-color: #36b170;"> <%= ele.completeTask %></p>
        </div>
      </form>
    </div>
    <div style="float: right; padding: 0;">
      <form action="/deleteCompleteTask" method="post">
        <!-- <button type="submit" class="add btn btn-outline-danger" id="liveAlertBtn<%= i %>" style="border-radius: 50%; height: 40px; width: 40px;" name="deleteCompleteTask" value="<%= ele.completeTask %>"><img class="delete" src="images/delete.png"
          style="width: 22px; height: 23px; position: relative; bottom: 1.5px; right: 3.5px;" alt="delete"></button> -->
          <button type="submit" class="add alert" id="liveAlertBtn<%= i %>" style="background-color: transparent; border: none; padding: 0;  box-shadow: none;" name="deleteTask" value="<%= ele.task %>"><img class="delete" src="images/delete.png" onmouseover="this.src='images/delete-hover.png';" onmouseout="this.src='images/delete.png';"
            style="width: 23px; height: 24px;" alt="delete"></button>
      </form>
   </div>
  </div>
<% i++;}); i=1; %>

<form action="/tasks" style="padding-top: 10px;" method="post">
  <div class="form-floating">
    <input class="form-control" type="text" required autocomplete="off" id="task" placeholder="Add New Task" name="newTask">
    <label for="task">Add New Task</label>
  </div>
  <div class="new-task">
    <button type="submit"  id="liveAlertBtn" class="add btn btn-primary" name="addTask">Add Task</button>
  </div>
</form>


<script>
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<figure class="notification_${type}">`,
      `<div class="notification_body_${type}">`,
        // `<img src="images/${type}.png" title="Success" alt="Success" class="notification_icon_${type}"/>`,
        `${message}`, 
      '</div>',
      `<div class="notification_progress_${type}"></div>`,
    '</figure>',

  ].join('')
  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn');
const alertTriggerForEdit = document.getElementById('liveAlertBtnForEdit');

const alertTrigger1 = document.getElementById('liveAlertBtn1');
const alertTrigger2 = document.getElementById('liveAlertBtn2');
const alertTrigger3 = document.getElementById('liveAlertBtn3');
const alertTrigger4 = document.getElementById('liveAlertBtn4');
const alertTrigger5 = document.getElementById('liveAlertBtn5');
const alertTrigger6 = document.getElementById('liveAlertBtn6');
const alertTrigger7 = document.getElementById('liveAlertBtn7');
const alertTrigger8 = document.getElementById('liveAlertBtn8');
const alertTrigger9 = document.getElementById('liveAlertBtn9');
const alertTrigger10 = document.getElementById('liveAlertBtn10');
const alertTrigger11 = document.getElementById('liveAlertBtn11');
const alertTrigger12 = document.getElementById('liveAlertBtn12');
const alertTrigger13 = document.getElementById('liveAlertBtn13');
const alertTrigger14 = document.getElementById('liveAlertBtn14');
const alertTrigger15 = document.getElementById('liveAlertBtn15');
const alertTrigger16 = document.getElementById('liveAlertBtn16');
const alertTrigger17 = document.getElementById('liveAlertBtn17');
const alertTrigger18 = document.getElementById('liveAlertBtn18');
const alertTrigger19 = document.getElementById('liveAlertBtn19');
const alertTrigger20 = document.getElementById('liveAlertBtn20');

// const newTrigger = document.getElementsByClassName('alert');
// if (newTrigger) {
//   newTrigger.addEventListener('click', () => {
//     appendAlert('Task deleted successfully!', 'warning')
//   });
// }


if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Task added successfully!', 'success')
  });
}
if (alertTriggerForEdit) {
  alertTriggerForEdit.addEventListener('click', () => {
    appendAlert('Task edited successfully!', 'success')
  });
}
if (alertTrigger1) {
  alertTrigger1.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger2) {
  alertTrigger2.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger3) {
  alertTrigger3.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger4) {
  alertTrigger4.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger5) {
  alertTrigger5.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger6) {
  alertTrigger6.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger7) {
  alertTrigger7.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger8) {
  alertTrigger8.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger9) {
  alertTrigger9.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger10) {
  alertTrigger10.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger11) {
  alertTrigger11.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger12) {
  alertTrigger12.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger13) {
  alertTrigger13.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger14) {
  alertTrigger14.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger15) {
  alertTrigger15.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger16) {
  alertTrigger16.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger17) {
  alertTrigger17.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger18) {
  alertTrigger18.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger19) {
  alertTrigger19.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}if (alertTrigger20) {
  alertTrigger20.addEventListener('click', () => {
    appendAlert('Task deleted successfully!', 'danger')
  });
}
</script>


<%- include("partials/footer") -%>
