<%- include("partials/header") -%>


<div class="head">
  <h4>Tasks</h4>
</div>

<div class="task-title">
  <h5 style="font-size: 1.4rem; font-weight: 700; padding-bottom: 0; padding-top: 5px;">Yet To Completed</h5>
</div>

<% keyTask.forEach(function(ele){ %>
<div class="task">
  <div style="float: left; width: 93%; display: flex; margin-top: 8px;">
    <form action="/completeTask" method="post">
      <div style="display: flex;">
        <input class="taskInput" type="checkbox" name="checkbox" value="<%= ele.task %>" onchange="this.form.submit()">
        <p style="position: relative; left: 5px;"> <%= ele.task %></p>
      </div>
    </form>
  </div>
  <div style="float: right; padding: 0;">
    <form action="/deleteTask" method="post">
      <button type="submit" class="add btn btn-outline-danger" style="border-radius: 50%; height: 40px; width: 40px;" name="deleteTask" value="<%= ele.task %>"><img class="delete" src="images/delete.png"
          style="width: 22px; height: 23px; position: relative; bottom: 1.5px; right: 3.5px;" alt="delete"></button>
    </form>
  </div>
</div>
<% }); %>

<div class="task-title">
  <h5 style="font-size: 1.4rem; font-weight: 700; padding-bottom: 0; padding-top: 15px;">Completed</h5>
</div>

<% keyCompleteTask.forEach(function(ele){ %>
  <div class="task">
    <div style="float: left; width: 93%; display: flex; margin-top: 8px;">
      <form action="/notCompleteTask" method="post">
        <div style="display: flex;">
          <input class="taskInput" type="checkbox" name="checkbox2" value="<%= ele.completeTask %>" onchange="this.form.submit()">
          <p style="position: relative; left: 5px; text-decoration: line-through; text-decoration-color: #36b170;"> <%= ele.completeTask %></p>
        </div>
      </form>
    </div>
    <div style="float: right; padding: 0;">
      <form action="/deleteCompleteTask" method="post">
        <button type="submit" class="add btn btn-outline-danger" style="border-radius: 50%; height: 40px; width: 40px;" name="deleteCompleteTask" value="<%= ele.completeTask %>"><img class="delete" src="images/delete.png"
          style="width: 22px; height: 23px; position: relative; bottom: 1.5px; right: 3.5px;" alt="delete"></button>
      </form>
   </div>
  </div>
<% }); %>

<form action="/tasks" style="padding-top: 10px;" method="post">
  <div class="form-floating">
    <input class="form-control" type="text" required autocomplete="off" id="task" placeholder="Add New Task" name="newTask">
    <label for="task">Add New Task</label>
  </div>
  <div class="new-task">
    <button type="submit" class="add btn btn-primary" name="addTask">Add Task</button>
  </div>
</form>


<%- include("partials/footer") -%>
