<%- include("partials/timeTableFix") -%>


<div class="head">
  <h4>Tuesday</h4>
</div>

<% keyPeriod.forEach(function(ele){ %>
<div class="period">
  <p><%= ele.subject %></p>
  <p><%= ele.start %> - <%= ele.end %></p>
  <form action="/<%= ele.day %>" method="post">
    <button type="submit" class="btn btn-outline-success" name="period" value="p-<%= ele.subject %>">Present</button>
    <button type="submit" class="btn btn-outline-danger" name="period" value="a-<%= ele.subject %>">Absent</button>
  </form>
</div>
<% }); %>

<div class="delete-add" style="display: flex; justify-content: space-between;">
  <form action="/day1" method="post" style=" float: left;">
    <button type="submit" class="add btn btn-danger" name="deleteClass" value="deleteClass">Delete Class</button>
  </form>
  <form action="/day2" method="post" style="float: right;">
    <button type="submit" class="add btn btn-primary" name="addClass" value="addClass">Add Class</button>
  </form>
</div>


<%- include("partials/footer") -%>
