<%- include("partials/header") -%>


<div class="head">
  <h4>Weekly Schedule</h4>
</div>

<table class="table-container" cellspacing="15px" align="center">
    <!--<caption>Timetable</caption>-->
    <tr style="box-shadow: 0px 3px 2px -3px rgba(0,0,0,.6);">
        <th>
            Day/Period
        </th>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
        <th>
            4
        </th>
        <th>
            5
        </th>
        <th>
            6
        </th>
        <th>
            7
        </th>
        <th>
            8
      </th>
    </tr>
    <tr style="box-shadow: 0px 2px 2px -2px rgba(0,0,0,.2);">
        <td>
            <b>Monday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="monday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>    
    </tr>



    <tr style="box-shadow: 0px 2px 2px -2px rgba(0,0,0,.3);">
        <td>
            <b>Tuesday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="tuesday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>
    </tr>


    <tr style="box-shadow: 0px 2px 2px -2px rgba(0,0,0,.3);">
        <td>
            <b>Wednesday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="wednesday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>
    </tr>


    <tr style="box-shadow: 0px 2px 2px -2px rgba(0,0,0,.3);">
        <td>
            <b>Thursday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="thursday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>     
    </tr>

    

    <tr style="box-shadow: 0px 2px 2px -2px rgba(0,0,0,.3);">
        <td>
            <b>Friday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="friday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>
    </tr>


    <tr>
        <td>
            <b>Saturday</b>
        </td>
        <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyPeriod.forEach(function(ele){ %>
            <% if(ele.day=="saturday"){%>
              <% if(ele.period==j){%>
                <td><%= ele.subject %></td>
              <% i = true;} %>
            <% } });%>
          <% if(i==false){ %>
         <td>-</td>
        <% } i=false;} %>
    </tr>
</table>



<div class="head">
  <h4>Timing</h4>
</div>


<div class="period">
  <% var i=false; %>
        <% for(let j=1; j < 9; j++){ %>
          <% keyTiming.forEach(function(ele){ %>
              <% if(ele.period==j){ %>
                <p>Period <%= j %>: <span style="font-size: 1.1rem; position: relative; bottom: .5px; left: 5px;"><%= ele.start %> - <%= ele.end %></span></p>  
              <% i = true;} %>
            <% });%>
          <% if(i==false){ %>
         <p>Period <%= j %>: -</p>
        <% } i=false;} %>
</div>



<%- include("partials/footer") -%>
